.qmake.*
lib/jtest/
lib/extjs/extjs-4/
lib/extjs/extjs/
bin/
doc/
hpmc/
newSurf/
misc/
*.o
*.so
gmol
moc_*
Makefile
gmol-*/
gmol.app
dbchem
dbsurf
build-gmol-Qt_5_3_2_clang_64-Debug/
*.pro.user*
.DS_Store
