lib/jtest/
lib/extjs/extjs-4/
lib/extjs/extjs/
.gitignore
bin/
doc/
hpmc/
newSurf/
*.o
moc_*
Makefile
gmol-*/
gmol.app
dbchem
dbsurf
.qmake*
build-gmol-Qt_5_3_2_clang_64-Debug/
gmol.pro.user.16
gmol.pro.user.3.2-pre1
.DS_Store
