QMainWindow QTabBar::tab {
    background: #eeeeee;
    color: #000000;
    padding: 6px 12px;
    border: 1px outset #999999;
    border-bottom-right-radius: 5px;
}
QMainWindow QTabBar::tab:selected {
    background-color: #eeffee; /* Highlight color for active tab */
    color: #000000;            /* Text color for active tab */
    font-weight: bold;
}

QWebView WebWidget {
	background-color: white;
	color: black;
}

QDockWidget#logDock QPlainTextEdit {
    background-color: white;
    color: black;
}
QDockWidget#logDock QLineEdit {
    background-color: lightgoldenrodyellow;
    color: black;
    border: 1px solid blue;
}

QDockWidget#chemDock QTreeWidget {
    background-color: white;
    color: black;
    border: none;
}
QTreeView QHeaderView::section {
    background-color: #2c3e50;    /* Dark blue background */
    color: #ffffff;               /* White text color */
    padding: 4px;                 /* Spacing around the text */
    font-weight: bold;            /* Bold header text */
    border: 1px solid #34495e;    /* Border between sections */
}
QSlider {
    color: red; /* Changes tick mark color on Fusion style */
}
